@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>408-426-1278</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>408-426-1278</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@localnews.com">Support@localnews.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@localnews.com">Marketing@localnews.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@localnews.com">General@localnews.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        123 Any Lane<br />
        Somewhere, CA 00000-0000
    </p>
</section>