@{
    ViewBag.Title = "Local News";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Great way to find out what's happening around you. Stay alert with local news.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Get Started</h5>
        Create your account using your email. Alert will be sent to registered email
    </li>

    <li class="two">
        <h5>Receive Text alert</h5>
        Add your mobile number to your profile to receive text messages alert.
    </li>
</ol>
